In [4]:
import numpy as np
# import cv2
import tifffile as tiff
from shapely.geometry import Polygon, mapping, shape, box
from skimage import io
from skimage.measure import label, regionprops
import matplotlib.pyplot as plt
# import json
from rasterio import features
import scanpy as sc
import pandas as pd
import geopandas as gpd

import pickle
import scipy

import seaborn as sns

from SGanalysis.SGobject import SGobject

import matplotlib
%matplotlib inline
# matplotlib.use('Qt5Agg')
# %matplotlib qt

In [5]:
# filepath  = '/Users/grantkinsler/RajLab Dropbox/Grant Kinsler/Shared_Grant/SpatialBarcodes/ImagingData/2024-02-27_spatialbarcodes_SG_expression/projects/2024-02-27_spatialbarcodes_expression/'
filepath = '/Users/grantkinsler/RajLab Dropbox/Grant Kinsler/SpatialBarcodes/ImagingData/2024-05-21_mouseexp_expression/projects/'

# roi_2
roi_name = 'roi_2'


# /roi_2

In [6]:
## import segmentation 

# Create an instance of SGobject
sg_obj = SGobject()

# Convert a TIFF image to polygons and store them in a GeoDataFrame
print("Running mask_to_objects...")
sg_obj.mask_to_objects(f'{filepath}{roi_name}/exports/nuclei_mask_20240604.tiff')

Running mask_to_objects...

In [9]:
## import spots

spot_file = f'{filepath}{roi_name}/exports/decode_20240604.csv'

sg_obj.load_points(spot_file)

In [10]:
## associate spots with segmentation

sg_obj.create_cell_gene_table()

7218273 of 16584053 spots (43.5%) assigned to an object.

/Users/grantkinsler/opt/miniconda3/envs/spatialgenomics-env2/lib/python3.9/site-packages/anndata/utils.py:143: UserWarning: X converted to numpy array with dtype object
  warnings.warn(f"{name} converted to numpy array with dtype {arr.dtype}")
/Users/grantkinsler/opt/miniconda3/envs/spatialgenomics-env2/lib/python3.9/site-packages/SGanalysis/SGobject.py:217: FutureWarning: X.dtype being converted to np.float32 from object. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  self.cell_gene_table = sc.AnnData(pivot_table_full)
/Users/grantkinsler/opt/miniconda3/envs/spatialgenomics-env2/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [11]:
with open(f'{filepath}{roi_name}/exports/sg_object_20240604.pkl', 'wb') as f:
    pickle.dump(sg_obj, f)

# with open(f'{filepath}{roi_name}/exports/sg_object_20240604.pkl', 'rb') as f:
#     sg_obj = pickle.load(f)

In [12]:
sg_obj.get_cell_gene_table_df()

No filtering available or applied.

,object_id,AKT1,AXL,BGN,BIRC3,BIRC5,BMP2,BMP4,CALD1,CAPG,...,bc_087,bc_088,bc_089,bc_090,bc_091,bc_092,bc_093,bc_094,bc_095,bc_096
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67197,67193.0,2.0,0.0,5.0,0.0,0.0,0.0,0.0,7.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67198,67199.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67199,67200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67200,67201.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67201,67202.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
sg_obj.dilate_objects(10)

Dilation completed. Output column: 'nucleus_dilated' is now the active geometry column.

In [14]:
sg_obj.gdf

,object_id,nucleus,nucleus_dilated
0,1,"POLYGON ((23727.000 1097.000, 23741.000 1098.0...","POLYGON ((23723.193 1087.753, 23706.193 1094.7..."
1,2,"POLYGON ((23811.000 1166.000, 23822.000 1166.0...","POLYGON ((23807.286 1156.715, 23797.286 1160.7..."
2,3,"POLYGON ((19383.000 1449.000, 19398.000 1451.0...","POLYGON ((19378.528 1440.056, 19352.528 1453.0..."
3,4,"POLYGON ((19107.000 1506.000, 19137.000 1507.0...","POLYGON ((19091.029 1530.598, 19090.693 1531.3..."
4,7,"POLYGON ((15238.000 1549.000, 15252.000 1549.0...","POLYGON ((15236.760 1539.077, 15220.760 1541.0..."
...,...,...,...
67197,67193,"POLYGON ((37771.000 46466.000, 37777.000 46470...","POLYGON ((37765.537 46457.624, 37742.537 46472..."
67198,67199,"POLYGON ((38215.000 46546.000, 38237.000 46547...","POLYGON ((38212.441 46536.333, 38179.699 46545..."
67199,67200,"POLYGON ((38366.000 46565.000, 38403.000 46566...","POLYGON ((38364.157 46555.171, 38332.157 46561..."
67200,67201,"POLYGON ((38105.000 46579.000, 38137.000 46586...","POLYGON ((38099.855 46570.425, 38096.394 46572..."
67201,67202,"POLYGON ((38499.000 46598.000, 38524.000 46598...","POLYGON ((38496.253 46588.385, 38490.858 46589..."

In [15]:
sg_obj.create_cell_gene_table()

10187078 of 16584053 spots (61.4%) assigned to an object.

/Users/grantkinsler/opt/miniconda3/envs/spatialgenomics-env2/lib/python3.9/site-packages/anndata/utils.py:143: UserWarning: X converted to numpy array with dtype object
  warnings.warn(f"{name} converted to numpy array with dtype {arr.dtype}")
/Users/grantkinsler/opt/miniconda3/envs/spatialgenomics-env2/lib/python3.9/site-packages/SGanalysis/SGobject.py:217: FutureWarning: X.dtype being converted to np.float32 from object. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  self.cell_gene_table = sc.AnnData(pivot_table_full)
/Users/grantkinsler/opt/miniconda3/envs/spatialgenomics-env2/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [16]:
with open(f'{filepath}{roi_name}/exports/sg_object_20240604_dilate10.pkl', 'wb') as f:
    pickle.dump(sg_obj, f)

In [17]:
sg_obj.get_cell_gene_table_df()

No filtering available or applied.

,object_id,AKT1,AXL,BGN,BIRC3,BIRC5,BMP2,BMP4,CALD1,CAPG,...,bc_087,bc_088,bc_089,bc_090,bc_091,bc_092,bc_093,bc_094,bc_095,bc_096
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67197,67193.0,2.0,0.0,6.0,0.0,1.0,0.0,0.0,9.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67198,67199.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,7.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67199,67200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67200,67201.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
67201,67202.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
barcode_cols = ['bc_{:03d}'.format(i) for i in range(1,97)]